body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-size: x-large;
    border-radius: 10px;
}

.nav-abas{
    display:inline-flex;
  }

 .nav-abas li{
    margin: 1px;
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(107, 107, 106);
    list-style-type:none;
    
 }
 .nav-abas :hover{
    background-color: rgba(156, 142, 142, 0.70);
 }

.main {
    height: 300px;
    border-radius: 5px;
    background-image: url("fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    font-size: 300%;
}

.main p {
    background-color: rgba(0, 0, 0, 0.20);
}

.container {
    text-align: center;
}

.conteudo  {
    margin: 5px;
    margin-left: 10%;
    width: 50%;
    height: 300px;
    font-size: 150%;
    background-color: rgb(69, 80, 129);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    text-align: left;
}

.container .conteudo .cabecalho {
    text-align: center;
    border-radius: 5px;
    background-color: rgb(4, 90, 90);
    font-size: 200%;
}


.footer {
    text-align: center;
}

.container p{
    font-size: medium;
}
img{
    float: left;
    padding: 5px;
    width: 200px;
    height: 150px;
}

