body {
    padding: 10px;
}

img {
    width: 200px;
    height: 150px;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 50px 100px 150px;
    grid-template-areas: 
    'a b c d'
    'a e f f'
    'a e f f';

}

.box {
    background-color: brown;
    border-radius: 5px;
    padding: 1px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}